.card-container {
    transition: all 0.5s ;
    margin: 1vmax;
}

.card-container:hover {
    box-shadow: 0px 0px 2px rgb(104, 100, 100); 
    transform: translateY(1vmax);
}
.user-post-container{
    border: 1px solid black;
    max-width: 40vw;
    margin: 1vmax;
}
.user-post-header{
    display: flex;
    background-color: orangered;
    padding: 0.5vmax;
    text-decoration: none;
    /* justify-content: space-around; */
}
.user-post-header .user-avatar{
    max-width: 4vmax;
}


.user-post-header .user-avatar img{
    width: 4vmax;
    height: 4vmax;
    border: 1.5px solid rgb(163, 159, 159);
    border-radius: 50%;
}

.user-post-header .user-name{
    display: flex;
    flex-direction: column;
    margin-left: 3vmax;
    align-items: center;
}


.user-post-header .user-name p{
    padding: 0 1vmax;
    
}

.user-post-header .status{
    width: fit-content;
    max-height: 5vh;
    padding: 0.5vmax;
    margin: 2vmax;
    text-decoration: none;
    font-weight: bolder;
    letter-spacing: 0.25cap;
    color: black;
}
.user-post-header .Approved{
    background-color: green;
}
.user-post-header .Rejected{
    background-color: red;
}
.user-post-header .Pending{
    background-color: yellow;
}


.user-name div{
    margin-top: -15px;
    display: inline-flex;
}
.user-name > div > p{
    font-size: small;
}
a{
    text-decoration: none;
}

.posts-container .d-post{
    display: inline-flex;
}
.posts-container .d-post .images{
    /* background-color: red; */
    
}
.posts-container .post-description{
    /* background-color: green; */
    padding: 1vmax;
    word-wrap: break-word;
}

.posts-container .d-post .images img{
    width: 22vw;
    min-height: 50vh;

}

.posts-container .post-like-comment{
    display: flex;
    justify-content: space-around;
}

.posts-container .post{
    margin: 1vmax;
    border-radius: 15px;
    padding: 0.5vmax 3vmax;
    background-color: rgba(182, 211, 240, 0.761);
    font-size: 2vmax;
}
.posts-container .post:hover{
    background-color: rgba(175, 196, 217, 0.761);

}
.posts-container .post span{
    padding: 0.5vmax;
}

.renderAllPost{
    display: flex;
    flex-wrap: wrap;
    margin: 2vmax;
}
.renderAllPost .no-post h4{
    text-align: center;
    font-weight: 500;
    letter-spacing: 0.3cap;
}
.renderAllPost .no-post{
    margin: auto;

}

@media screen and (max-width: 700px) {
    .user-post-container {
        max-width: 400px;
        margin: 2vmax auto;
    }
}
