/* admin-dashboard.css */

.admin-dashboard {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .contact-info{
    display: flex;
    float: right;
    position: relative;
    right: -10vw;
    top: -9vh;
    text-decoration: none;
    font-size: 2vmax;
    font-weight: bold;
  }
  
  h1 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    padding: 15px;
    background-color: #f8f8f8;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    /* height: 30vh; */
  }
  
  .note-info {
    flex: 1;
  }
  
  .note-info img{
    width: 5vmax;
    /* height: 30vh; */
    border-radius: 20px solid black;
  }
  .note-info .item img{
    margin-left: 25px;
    border-radius: 20%;
  }
  .note-info h4 {
    margin: 0;
    font-size: 25px;
    color: #333;
  }
  
  .note-info p {
    margin: 5px 0;
    font-size: 18px;
    color: #666;
  }
  
  .note-info a {
    text-decoration: none;
    color: #007bff;
    font-weight: bold;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  .div-info img {
    margin-left: 20px;
    max-width: 100px;
    max-height: 100px;
    border-radius: 5px;
  }
  
  .post-actions {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  button {
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
  }
  
  button.approve-button {
    background-color: #28a745;
    color: #fff;
    margin-bottom: 10px;
  }
  
  button.reject-button {
    background-color: #dc3545;
    color: #fff;
  }
  
  button:hover {
    opacity: 0.9;
  }
  