.footer-container{
    display: flex;
    background-color: rgb(148, 143, 143);
}
.footer-1{
    display: flex;
    flex-direction: column;
    /* border: 1px solid black; */
}
.footer-1 .img-1{
    max-width: 33vw;
}
.footer-1 img{
    max-width: 20vw;
    border-radius: 10%;
    transition: linear 1s;
}
.footer-1 img:hover{
    border-radius: 50%;
    opacity: 0.5;
}

.footer-1{
    text-align: center;
    max-width: 33vw;
    display: flex;
    flex-direction: column;
    margin: 2vmax;
    padding: 1vmax;
}

.footer-1 a svg{
    font-size: 3vmax;
}
.footer-1 .icons{
    display: flex;
    /* flex-wrap: wrap; */
    flex-direction: column;
    right: 0;
}
.footer-1 a{
    text-decoration: none;
    font-size: 1.5vmax;
    padding: 0.5vmax;
    text-align: left;
    align-items: center;
}
.footer-1 .icons1 a:hover{
    background-color: rgb(190, 199, 206);
    width: auto;
}

.footer-1 .info p{
    font-size: 1.5vmax;
    padding: 0.5vmax;
}

@media screen and (max-width:730px) {
    .footer-1 .info p{
        font-size:2.5vmax;
    }
    .footer-1 a{
        font-size: 3vmax;
    }
}

@media screen and (max-width:500px) {
    /* .footer-1 .content-heading{
        display: none;
    } */
    .footer-1 img{
        width: 25vw;
        padding: 0;
    }
    .footer-1{
        margin: 0px;
    }
}