.search{
    background-color: white;
    max-width: 100vw;
    min-height: 80vh;
}

.search form {
    padding: 3vmax;
    margin-top: 10vmax;
    display: flex;
    text-align: center;
    justify-content: center;
    place-items: center;
}

.search form input{
    padding: 2vmax;
    min-width: 40vw;
    font-size: 2vmax;
    border-radius: 10px 0 0 10px;
    /* background-color: whitesmoke; */
}
.search form button{
    padding: 2vmax;
    max-width: 100%;
    font-size: 2vmax;
    border-radius: 0 10px 10px 0;
    background-color: tomato;
}
.search form button:hover{
    background-color: rgb(209, 56, 28);
    
}