


.register-form{
    padding: 2vmax;
    margin: auto;
    text-align: center;
    background: linear-gradient(to right, rgb(184, 72, 72), rgb(58, 167, 58), rgb(68, 68, 192));
    /* background-color: rgba(211, 206, 206, 0.8); */
}

.register-form-container{
    width: 50vw;
    background-color: white;
    padding: 1vmax;
    margin: auto;
    overflow-x: hidden;
    border-radius: 30px;
}

.register-form .form-group{
    padding: 1vmax;
}
.register-form .form-group input{
    padding: 1vmax;
    padding-left: 5vmax;
    font-size: 1.5vmax;
    font-weight: 300;
    border-radius: 20px;
}
.register-form .form-group input[type="file"]{
    margin: 0.5vmax;
}
.register-form .form-group input[type="file"]::-webkit-file-upload-button{
    background-color: dodgerblue;
    color: white;
    /* width: 90%; */
    padding: 1.5vmax;
    border-radius: 20px;
    border: none;
    font: 100 1.2rem "Roboto",sans-serif;
    overflow: hidden;
}

.register-form .form-group svg{
    font-size: 3vmax;
    position: absolute;
    padding: 0.5vmax;
    align-items: center;
    font-weight: 300;
    color: rgb(110, 110, 242);
}

.register-form [type="submit"]{
    outline: none;
    padding: 1vmax;
    background-color: rgb(85, 85, 226);
    width: 30%;
    color: white;
    font-size: 1.5vmax;
}

.register-form [type="submit"]:hover{
    background-color: rgb(54, 54, 214);
}

.register-info a{
    text-decoration: none;
}
.register-info a :hover{
    text-decoration: underline;
}
.login-form-container{
    width: 40vw;
    background-color: white;
    padding: 1vmax;
    margin: auto;
    overflow-x: hidden;
    border-radius: 30px;
}

@media screen and (max-width:750px) {
    .register-form .form-group input{
        padding: 2.5vmax;
        padding-left: 5vmax;
        font-size: 2vmax;
    }
    .register-form .form-group svg{
        font-size: 4vmax;
        padding: 1vmax;
    }
    .register-form [type="submit"]{
        padding: 2vmax;
        font-size: 2vmax;
    }
}